{% extends 'eduapp/base.html' %}
{% block material_active %}
active
{% endblock %}
{% block content %}
    <section class="page-section portfolio" id="portfolio">
        <br>
        <br>
        <br>
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">SYLLABUS</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto px-5 mt-3 mb-3">
                <a class="btn btn-warning" href="" target="_blank" role="button"> SEM - 1 </a>
                <a class="btn btn-warning" href="" target="_blank" role="button"> SEM - 2 </a>
                <a class="btn btn-warning" href="" target="_blank" role="button"> SEM - 3 </a>
                <a class="btn btn-warning" href="" target="_blank" role="button"> SEM - 4 </a>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">DIGITAL MATERIAL</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item text-center">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                            DBMS
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                         data-bs-parent="#accordionFlushExample">
                        <div class="d-grid gap-2 col-6 mx-auto px-5 mt-3 mb-3">
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 1 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 2 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 3 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 4 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> Important questions </a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                            Data Analytics
                        </button>
                    </h2>

                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                         data-bs-parent="#accordionFlushExample">
                        <div class="d-grid gap-2 col-6 mx-auto px-5 mt-3 mb-3">
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 1 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 2 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 3 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 4 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> Important questions </a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                            Operating System
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="d-grid gap-2 col-6 mx-auto px-5 mt-3 mb-3">
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 1 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 2 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 3 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 4 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> Important questions </a>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                            Maths
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                        <div class="d-grid gap-2 col-6 mx-auto px-5 mt-3 mb-3">
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 1 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 2 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 3 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> UNIT - 4 </a>
                            <a class="btn btn-warning" href="" target="_blank" role="button"> Important questions </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}